.emi_plan_box {
  padding: 30px;
  border: 1px solid $second_border_bg;
  border-radius: 20px;
  margin-top: 20px;
  // .form_radio {
  //   &:checked .emi_data_row {
  //     background: rgba(66, 38, 89, 0.04);
  //     border-radius: 10px;
  //   }
  // }
}
.emi_table {
  margin-top: 20px;
}
.emi_header_row,
.emi_data_row {
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  align-items: center;
  border-radius: 10px;
  padding: 12px;
  &:not(:last-child) {
    margin-bottom: 10px;
    
  }
}
.emi_column_head {
  @extend %text-third;
}
.emi_availability {
  padding: 3px 10px;
  color: $green-color;
  border: 1px solid $green-color;
  border-radius: 100px;
  text-transform: capitalize;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.16px;
}
.emi_not_avail {
  color: $red-color;
  border: 1px solid $red-color;
}
.tick_img {
  display: none;
  line-height: 0;
}

@media (max-width: 768px) {
  .emi_plan_box {
    padding: 15px;
    margin-top: 10px;
    .emi_availability {
      display: none;
    }
  }
  .emi_table {
    margin-top: 10px;
  }
  .emi_header_row,
  .emi_data_row {
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 5px;
    padding: 11px 12px;
  }
 
  .tick_img {
    display: block;
  }
}
