.product_filter_box {
  border: 1px solid $border-bg;
  border-radius: 20px;
  max-width: 270px;
  width: 100%;
  .line {
    margin: 10px 0;
  }
}
.product_filter_head {
  padding: 22px 20px;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.product_filter_menu {
  padding: 20px;
  &:not(:last-child) {
    border-bottom: 1px solid $border-bg;
  }

  .open_about_prdct_heading,
  .close_about_prdct_heading {
    @extend %text-second;
  }
  .about_prdct_heading_arrow {
    margin-bottom: 10px;
  }
  .underline_cta {
    margin-top: 5px;
  }
}

.product_filter_item {
  @extend %text-third;
  padding: 4px 16px;
  transition: 0.3s;
  width: 100%;
  &:not(:last-child) {
    margin-bottom: 5px;
  }
}
.product_filter_item.active {
  background: $secondary-bg;
  border-radius: 20px;
}
.filter_clrs {
  flex-wrap: wrap;
  gap: 15px;
  .clr_circle {
    width: 25px;
    height: 25px;
  }
}
.price_filter {
  margin-top: 10px;
  padding: 30px 11px 0;
  position: relative;
}
.padd {
  // padding: 0 11px;
  position: absolute;
  top: 1px;
  margin-top: 10px;
  top: -20px;
  transform: translateX(-50%);
}
.range_input {
  width: 100%;
  border-radius: 12px;
  outline: none;
  border: 0;
  appearance: none;
  height: 2px;
  margin-bottom: 20px;
  &::-webkit-slider-thumb {
    appearance: none;
    // width: 40px;
    // height: 40px;
    width: 20px;
    height: 20px;
    background: $tertiary-color;
    cursor: ew-resize;
    box-shadow: 0 0 0 11px rgba(66, 38, 89, 0.16);
    border-radius: 50%;
  }
}
.range_bar_details {
  gap: 10px;
  justify-content: space-between;
}
.tooltip {
  @extend %text-fifth;
  padding: 4px 12px;
  min-width: 42px;

  text-align: center;
  color: $white;
  background: $tertiary-bg;
  border-radius: 4px;

  // margin: 0 20px;
}
.tooltip_square {
  position: absolute;
  bottom: 0;
  left: 50%;
  padding: 10px;
  border-bottom: 6px solid $tertiary-bg;
  border-right: 6px solid $tertiary-bg;
  z-index: -1;

  transform: translateX(-50%) rotate(45deg);
}
